@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}
button {
    margin: 25px 10px;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}
/* Body */
.body{
    display: flex;
    flex-direction: column;
}
/*-----------------------------------------------------------------------------------------------------*/
/* Container */
.container-global {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Main container */
.container-main {
    flex-direction: column;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Top Menu */
.container-top-menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 10;
}
.top-menu {
    background-color: #C14953;
    align-items: center;
    justify-content: space-between;
}

/* Icon and Name section*/
.icon-name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.icon-name img {
    height: 70px;
    width: 85px;
}
.home-btn {
    height: 70px;
    width: 85px;
    margin: 15px 35px;
    border: none;
    background: none;
}
.icon-name span {
    font-weight: 600;
    font-size: 45pt;
    margin: 10px 10px;
    color: white;
}

/* Buttons section */
.buttons-top-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 15px;
}
.singin-btn, .login-btn {
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
    transition: all 0.3s ease-in-out;
}
.login-btn:hover, .singin-btn:hover{
    background-color: white;
    color:#C14953;
    cursor: pointer;
}

/* Under Menu section */
.under-menu {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.under-menu button {
    border: none;
    background: none;
    font-size: large;
    padding: 0;
    height: 30px;
    border-radius: 0%;
    transition: all 0.2s ease-in-out;
}
.under-menu button:hover{
    transform: scale(1.5);
    color: #C14953;
    cursor: pointer;
}
.section_tag{
    display: flex;
    justify-content: space-between;
}
.tag{
    color: #ffffff;
    background-color: #C14953;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}
.tag_price{
    background-color: white;
    border: #000000 solid 2px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
.title_whitebackground{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.8cm;
    line-height: 1em;
    font-weight: bold;
    background-color: #C14953;
    color: white;
    padding: 10px;
    width: 100%;
    /*margin-top: 40px;*/
}
.title_blackbackground{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 600;
    font-size: 0.8cm;
    line-height: 1em;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
}
.input_text{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.5cm;
    border-bottom: #2D2D2A solid 3px;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 15px;
    width: 100%;
    border-radius: 0px;
}
.button_white{
    background-color: white;
    color:#C14953;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    border:none;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
.button_white:hover{
    background-color:#2D2D2A;
    border:none;
    color: white;
    cursor: pointer;
}
.button_red{
    background-color: #C14953;
    color:#ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.button_red:hover{
    background-color: white;
    color:#C14953;
}
.button_black{
    padding: 10px;
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
    height: 70px;
    transition: all 0.3s ease-in-out;
}
.button_black:hover{
    background-color: white;
    border:#000000 solid 2px;
    color:#C14953;
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}
/* ----------------- Fonts ----------------- */
.fontLight{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}
.fontRegular{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
.fontSemiBold{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
h4{
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.8cm;
    line-height: 1em;
}
.title_form{
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.6cm;
    line-height: 1em;
    margin-bottom: 5px;
}