.title_top_menu{
    font-weight: 600;
    font-size: 45pt;
    margin: 10px 10px;
    color: white;
}
.image_top_menu{
    height: 70px;
    width: 85px;
    margin: 15px 35px;
}
.section_buttons{
    display:flex;
    justify-content: flex-end;
    margin: 5%;
}
.login_button{
    margin-right: 30px;
    padding: 5px;
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
    transition: all 0.3s ease-in-out;
}
.login_button:hover{
    background-color: white;
    color:#C14953;
    cursor: pointer;
}