@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;1,300&display=swap');
/* font-family: 'Barlow', sans-serif; */

/* ----------------- Section products -----------------*/
.section_products{
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    /*background-color: #2d2d2a;*/
    background-image: url("../images/fondoMesa.jpg");
    min-height: 2000px;
}
/* ----------------- Section filters -----------------*/
.section_filters{
    min-height: 2000px;
    width: 30%;
    background-color: #ffffff;
}
.filter_title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: #000000 solid 2px;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 10px;
}
.filters_sticky{
    position:sticky;
    top:200px;
    z-index: 2;
}

.filters{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;

}
.filter_type_product{
    appearance: none;
    background-color: rgba(193, 73, 83, 100%);
    font-family: 'Barlow', sans-serif;
    color: white;
    padding: 8px 38px 8px 8px;
    font-size: 16px;
    border-radius: 8px;
}
.select_name{
    margin-bottom: 5px;
}
.price{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.selectors_colors{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.selector_red{
    width: 10px;
    height: 10px;
    margin-left:2px;
    display:inline-block;
    background-color: #cd333f;
}
.selector_black{
    width: 10px;
    height: 10px;
    margin-left:2px;
    display:inline-block;
    background-color: #000000;
}
.selector_blue{
    width: 10px;
    height: 10px;
    margin-left:2px;
    display:inline-block;
    background-color: #0026ff;
}
.selector_white{
    width: 10px;
    height: 10px;
    margin-left:2px;
    display:inline-block;
    background-color: #8c8c8c;

}
.section_number{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container_inputNumber{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inputMaxNumber{
    background-color:#C14953;
    padding: 5px;
    color: #fff;
}
.div_button_filter{
    display:flex;
    justify-content: center;
    align-content: flex-start;
}
/* ----------------- Product -----------------*/
.section_products_img{
    display: flex;
    flex-wrap: wrap;
}

.product{
    position:relative;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.product .circle{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.product .circle::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #cd333f;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.product:hover .circle::before{
    background: #ffffff;
    clip-path: circle(400px at center);
}
.product .img_front_page{
    position:absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}
.product:hover .img_front_page{
    left:78%;
    height:400px;
}
.product .content{
    position:relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition:0.5s;
    opacity: 0;
    visibility: hidden;
}
.product:hover .content{
    left:0;
    opacity: 1;
    visibility: visible;
}
.product .content h2{
    color: #000000;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5cm;
    line-height: 1em;
    margin-bottom: 5px;
}


.product .content a{
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}
/* ----------------- Images ----------------- */
.img_basket{
    width: 20px;
    height: 20px;
    background-color: #C14953;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
/* ----------------- Buttoms ----------------- */
.button_filter{
    background-color: #C14953;
    color:#ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.button_filter:hover{
    background-color: white;
    color:#C14953;
}
.button_add_new_product{
    background-color: #C14953;
    color:white;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    border:none;
    position:fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin:50px;
    z-index: 10;
    transition:all 0.3s ease-in-out;
}
.button_add_new_product:hover{
    background-color: white;
    color:#C14953;
}

/* ------ Media querys ------*/
@media (max-width: 620px){
    .product{
        width: 400px;
        height: 300px;
    }
    .section_products_img{
        margin-top: 100px;
    }
}
@media (max-width: 500px){
    .product{
        width: 250px;
        height: 300px;
    }
    .section_products_img{
        margin-top: 200px;
    }
}