/* ----------------------------------------- */
/* ----------------- ADD NEW PRODUCT HTML ----------------- */
/* ----------------------------------------- */
.section_form_new_product{
    background-color: rgb(255, 255, 255);
    min-height: 500px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.form_new_product{
    display:flex;
    flex-direction: column;
    margin: 50px;
    max-width: 50%;
}
.button_white{
    background-color: white;
    color:#C14953;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    border:none;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}
.button_white:hover{
    background-color:#2D2D2A;
    border:none;
    color: white;
    cursor: pointer;
}

/* Show new products*/

.container_form{
    margin-top: 100px;
}
.img_background{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.title_form{
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.8cm;
    line-height: 1em;
}

.section_form_labels{
    margin:40px;
}
.naneProductInput{
    margin-bottom: 10px;
}
/*Esta regla selecciona todas las columnas de una fila que tenga la clase no-gutters 
y elimina el padding derecho e izquierdo que se aplica automáticamente a las columnas 
en Bootstrap. De esta manera, las columnas se mostrarán juntas sin espacios entre ellas.*/
.row.no-gutters [class^="col-"], .row.no-gutters{
  padding-right: 0;
  padding-left: 0;
}
.exampleFormInput{
    margin-bottom: 30px;
}
h2{
    color: #000000;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.5cm;
    margin-bottom: 5px;
}


@media (max-width: 740px){
    .section_form_new_product{
        margin-top:300px;
    }
}
@media (max-width: 720px){
    .section_form_new_product{
        margin-top:370px;
    }
}
@media (max-width: 384px){
    .section_form_new_product{
        margin-top:800px;
    }
}