@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;1,300&display=swap');
/* font-family: 'Barlow', sans-serif; */
*{
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}


/*div {
    width: 100vw;
    background-color: azure;
}*/

button {
    margin: 25px 10px;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}
.flex {
    display: flex;
    align-items: center;
}
.flex#top_menu_options {
    justify-content: center;
}

/* Menú */
#page_name {
    font-weight: 600;
    font-size: 45pt;
    margin: 10px 10px;
    color: white;
}
#login_button{
    position: absolute;
    right: 185px;
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
}
#singin_button{
    position: absolute;
    right: 15px;
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
}
#top_menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #C14953;
    height: 100px;
    width: 100%;
    z-index: 2;
}
#logo_top_menu {
    height: 70px;
    width: 85px;
    margin: 15px 35px;
}
/* Menú opciones*/
#top_menu_options {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px;
    height: 60px;

    background-color: white;
    z-index: 2;
}
#shop_button {
    margin: 25px 10px;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    border: 0px;
}
#tournaments_button {
    margin: 25px 10px;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    border: 0px;
}
#support_button {
    margin: 25px 10px;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    border: 0px;
}
/* Secciones */

.section_questions{
    background-color: #2D2D2A;
    margin-top: 150px;
    height: 120vh;
}
.section_contact{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    height: 570px;
}
.section_form{
    margin-top: 150px;
}
/* Contenedores */
.block_questions{
    /*display: flex;
    flex-direction: column;
    align-items: stretch;*/
    color: #2D2D2A;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 120px;
}
.container_questions{
    border: 5px solid rgb(226, 223, 223);
    background-color: #C14953;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.container_answer{
    border: 5px solid rgb(226, 223, 223);
    background-color: #e3707a;
    border-top: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.container_socialmedia{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/* Formularios */
.form_support{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    height: 300px;
    border-radius: 5px;
    border: 2px solid #2D2D2A;
}
.input_text{
    font-family: 'Barlow', sans-serif;
    border: #2D2D2A solid 1.5px;
    margin-left: 10px;
    padding: 5px;
    margin-top: 20px;
    height: 15px;
    width: 150px;
    border-radius: 5px;
}
.textArea{
    font-family: 'Barlow', sans-serif;
    border: #2D2D2A solid 1.5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
    max-width: 475px;
}

/* Títulos con fondo */
.title_blackbackground{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    height: 40px;
    width: 100%;
    margin-top: 40px;
}
.title_whitebackground{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    background-color: #C14953;
    color: white;
    height: 40px;
    width: 100%;
    margin-top: 40px;
}
/* Botones */
.dropdown{
    border: #2D2D2A solid 2px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}
.buttonBlack{
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
}
.buttonRed{
    background-color: #C14953;
    color: white;
    border: #2d2d2a;
}
/* Imagenes */
.icon_sociamedia{
    /*border: 3px solid rgb(167, 166, 166);
    background-color: #ffffff;*/
    display: inline-block;
    text-align: center;

    height: 25px;
    width: 40px;
    border-radius: 10px;
    margin-right: 3px;
}
.arrow{
    margin-left: 5px;
    margin-right: 5px;
    width: 10px;
    max-width: 10px;
}
/* Listas */
.list{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.elem_list{
    margin-bottom: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}
/* Fuentes */
.fontLight{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}
.fontRegular{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
.fontSemiBold{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
