/*-----------------------------------------------------------------------------------------------------*/
/* Styles for tournaments.html */
/*-----------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------*/
/* Title */
.title-tournaments {
    color: white;
    font-weight: 600;
    font-size: 25pt;
    background-color: #C14953;
    width: 100vw;
    padding: 2rem 0rem 2rem 4rem;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Active tournaments section */
.container-active-tournaments {
    position: absolute;
    top: 180px;
    flex-direction: column;
}
.torneos-activos {
    background-color: #2d2d2a;
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32.09rem;
}
.torneos-activos span {
    color: white;
    font-weight: 600;
    font-size: 25pt;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Create, edit and delete buttons */
.container-tournaments-btns-options {
    justify-content: center;
    align-items: center;
    background-color: #C14953;
    padding: 1.5rem;
}
.create-tournament, .edit-tournament, .delete-tournament {
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
    transition: all 0.3s ease-in-out;
}
.create-tournament:hover, .edit-tournament:hover, .delete-tournament:hover {
    background-color: white;
    color:#C14953;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Mediaqueries for responsive desing */
@media (max-width: 732px){
    .container-active-tournaments {
        top: 280px;
    }
}
@media (max-width: 662px){
    .container-active-tournaments {
        top: 360px;
    }
}
