/*-----------------------------------------------------------------------------------------------------*/
/* Styles for active_tournaments.html */
/*-----------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------*/
/* Title */
.title-tournaments, .title-users, .title-organizer {
    color: white;
    font-weight: 600;
    font-size: 25pt;
    background-color: #C14953;
    width: 100vw;
    padding: 2rem 0 2rem 4rem;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Active tournaments section */
.container-active-tournaments, .container-active-organizers, .container-active-users {
    position: absolute;
    top: 180px;
    flex-direction: column;
}
.active-tournaments-section, .organizer-created-text {
    background-color: #2d2d2a;
    padding: 3rem 4rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32.09rem;
    gap: 3rem;
}
.courrent-tournament {
    background-color: #2d2d2a;
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32.09rem;
}
.active-tournament a{
    color: white;
    font-weight: 600;
    font-size: 25pt;
}
.active-tournaments-section span, .courrent-tournament span {
    color: white;
    font-weight: 600;
    font-size: 25pt;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Create, edit and delete buttons */
.container-tournaments-btns-options {
    justify-content: center;
    align-items: center;
    background-color: #C14953;
    padding: 1.5rem;
}
.create-tournament, .go_back, .edit-btn, .delete-btn {
    background-color: #2d2d2a;
    color: white;
    border: #2d2d2a;
    transition: all 0.3s ease-in-out;
}
.create-tournament:hover, .go_back:hover, .edit-btn:hover, .delete-btn:hover, .go_back_btn_organizer {
    background-color: white;
    color:#C14953;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Mediaqueries for responsive desing */
@media (max-width: 732px){
    .container-active-tournaments {
        top: 280px;
    }
}
@media (max-width: 662px){
    .container-active-tournaments {
        top: 360px;
    }
}
