<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tournaments BePong</title>
  <link rel="stylesheet" href="/CSS/basic_styles_2.css">
  <link rel="stylesheet" href="/CSS/tournaments.css">
</head>
<body>
  <div class="container container-main">

    <!-- Menu of the top -->
    <div class="container container-top-menu">
      <div class="container top-menu">
        <div class="icon-name">
          <button id="home_button" class="home-btn">
            <img src="/images/table-tennis-7216579_1280.png" alt="logo-img"/>
          </button>
          <span>BePong</span>
        </div>
        <div class="buttons-top-menu">
          <button id="log_in_button" class="login-btn">
            <span>Iniciar Sesión</span>
          </button>
          <button id="sign_in_button" class="singin-btn">
            <span>Registarse</span>
          </button>
        </div>
      </div>
      <div class="under-menu">
        <div class="buttons-under-menu">
          <button id="shop_button">Tienda</button>
          <span>|</span>
          <button id="tournaments_button">Torneos</button>
          <span>|</span>
          <button id="support_button">Soporte</button>
          <span>|</span>
          <button id="multimedia_button">Multimedia</button>
        </div>
      </div>
    </div>

    <!-- Section of the active tournaments -->
    <div class="container container-active-tournaments">
      <span class="title-tournaments">TORNEOS ACTIVOS</span>
      <div class="torneos-activos">
        {{#tournaments}}
        <div class="active-tournament">
          <a href="../tournament/{{-index}}">{{name}} {{location}} {{date}}</a><br>
        </div>
        {{/tournaments}}
      </div>

      <!-- Section of the buttons of the options for tournaments -->
      <div class="container container-tournaments-btns-options">
        <div class="container-btns">
          <button id="create_tournament_btn" class="create-tournament">Crear Torneo</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/JS/change_page.js"></script>
  <script src="/JS/tournaments.js"></script>
</body>
</html>