<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Crear Torneos - BePong</title>
    <link rel="stylesheet" href="/CSS/basic_styles.css">
    <link rel="stylesheet" href="/CSS/add_new_tournaments_styles.css">
</head>
<body>
<div class="container-global container-main">

    <!-- Menu of the top -->
    <div class="container-global container-top-menu">
        <div class="container-global top-menu">
            <div class="icon-name">
                <button id="home_button" class="home-btn">
                    <img src="/images/table-tennis-7216579_1280.png" alt="logo-img"/>
                </button>
                <span>BePong</span>
            </div>
            <div class="buttons-top-menu">
                <button id="log_in_button" class="login-btn">
                    <span>Iniciar Sesión</span>
                </button>
                <button id="sign_in_button" class="singin-btn">
                    <span>Registarse</span>
                </button>
            </div>
        </div>
        <div class="under-menu">
            <div class="buttons-under-menu">
                <button id="shop_button">Tienda</button>
                <span>|</span>
                <button id="tournaments_button">Torneos</button>
                <span>|</span>
                <button id="support_button">Soporte</button>
                <span>|</span>
                <button id="multimedia_button">Multimedia</button>
            </div>
        </div>
    </div>

    <!-- Section of the form for create tournaments -->
    <div class="container-global container-form-create-tournament">
        <div class="container-global container-title-add-tournaments">
            <span class="title-add-tournaments">Editar Torneo</span>
        </div>
        <div class=" container-global form-create-tournament">
            <form action="../../tournament/edited/update" method="post" novalidate>
                <label for="tournament-name">
                    <span>Nombre</span>
                    <input id="tournament-name" name="name" type="text">
                </label>
                <label for="tournament-date">
                    <span>Fecha</span>
                    <input id="tournament-date" name="date" type="text">
                </label>
                <label for="tournament-hour">
                    <span>Hora</span>
                    <input id="tournament-hour" name="hour" type="text">
                </label>
                <label for="tournament-location">
                    <span>Localización</span>
                    <input id="tournament-location" name="location" type="text">
                </label>
                <label for="tournament-organizer">
                    <span>Organizador</span>
                    <input id="tournament-organizer" name="organizer" type="text">
                </label>
                <button type="submit" class="submit-btn">Enviar</button>
            </form>
        </div>
    </div>

</div>
<script src="../static/JS/change_page.js" defer></script>
</body>
</html>