<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop-BePong  </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/basic_styles.css">
    <link rel="stylesheet" href="/CSS/shop_style.css">

</head>
<body>
<div class="body">
    <div class="container-global container-main">
        <div class="container-global container-top-menu">
            <div class="container-global top-menu">
                <div class="icon-name">
                    <button id="home_button" class="home-btn">
                        <img src="/images/table-tennis-7216579_1280.png" alt="logo-img"/>
                    </button>
                    <span>BePong</span>
                </div>
                <div class="buttons-top-menu">
                    <button id="log_in_button" class="login-btn">
                        <span>Iniciar Sesión</span>
                    </button>
                    <button id="sign_in_button" class="singin-btn">
                        <span>Registarse</span>
                    </button>
                </div>
            </div>
            <div class="under-menu">
                <div class="buttons-under-menu">
                    <button id="shop_button">Tienda</button>
                    <span>|</span>
                    <button id="tournaments_button">Torneos</button>
                    <span>|</span>
                    <button id="support_button">Soporte</button>
                    <span>|</span>
                    <button id="multimedia_button">Multimedia</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section_products">
        <div class="section_filters">
            <div class="filter_title">
                <span class="fontSemiBold">FILTROS</span>
            </div>
            <div class="filters_sticky">
                <div class="filters">
                    <label for="select" class="select_name">Tipo de producto</label>
                    <select class="filter_type_product" id="filter_type_product">
                        <option id="option">Pala</option>
                        <option id="option">Mesa</option>
                        <option id="option">Bolas</option>
                        <option id="option">Equipamiento</option>
                        <option id="option">Kit</option>
                    </select>
                </div>
                <div class="section_number">
                    <div class="container_inputNumber">
                        <div>
                            <p class="fontRegular">Precio mínimo:</p>
                            <input type="number" id="input_numberMin" class="inputMaxNumber fontRegular">
                        </div>
                        <div>
                            <p class="fontRegular">Precio máximo:</p>
                            <input type="number" id="input_numberMax" class="inputMaxNumber fontRegular">
                        </div>
                    </div>
                </div>
                <div class="div_button_filter">
                    <button class="button_filter" onclick="filtrar();">Filtrar</button>
                </div>
            </div>
        </div>
        <div class="section_products_img">
            <!--<div class="section_two_products">-->
            {{#products}}
            <div class="product">
                <div class="circle"></div>
                <div class="content">
                    <h2>{{nombre}}</h2>
                    <div class="section_tag">
                        <div class="tag">{{etiqueta}}</div>
                        <div class="tag_price">{{precio}} $</div>
                    </div>
                    <p>{{descripcion}}</p>
                    <img src="/images/cesta.png" class="img_basket">
                </div>
                <img src="{{url}}" class="img_front_page" style="height: 250px">
            </div>
            {{/products}}
        </div>
    </div>
    <a href="/HTML/add_new_product.html">
        <button class="button_add_new_product" id="button_add_new_product">
            Crear producto
        </button>
    </a>
</div>
<script src="/JS/change_page.js"></script>
<script src="/JS/shop.js"></script>
</body>
</html>